{% extends "layout.html" %}

{% block title %} Enter Components {% endblock title %}

{% block body %}
<form>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="AverageTotalAssets" class="form-label">Total/Average Total Assets</label>
        <input type="number" name="average_total_assets" class="form-control" id="AverageTotalAssets" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="NetSales" class="form-label">Net Sales</label>
        <input type="number" name="net_sales" class="form-control" id="NetSales" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="CostOfGoodSold" class="form-label">Cost Of Good Sold</label>
        <input type="number" name="cost_of_good_sold" class="form-control" id="CostOfGoodSold" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="AverageInventory" class="form-label">Average Inventory</label>
        <input type="number" name="average_inventory" class="form-control" id="AverageInventory" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="NetCreditSales" class="form-label">Net Credit Sales</label>
        <input type="number" name="net_credit_sales" class="form-control" id="NetCreditSales" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="AverageAccountReceivables" class="form-label">Average/Total Account Receivables</label>
        <input type="number" name="average_account_receivables" class="form-control" id="AverageAccountReceivables" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary my-3">Calculate</button>
        </div>
    </div>
      
</form>

{% endblock %}