{% extends "layout.html" %}

{% block title %} Enter Components {% endblock title %}

{% block body %}
<form action="liquidity_ratios" method="POST">
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="CurrentAssets" class="form-label">Current Assets Total</label>
        <input type="number" name="current_assets" class="form-control" id="CurrentAssets" placeholder="$100,000" step="any" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="CurrentLiabilities" class="form-label">Current Liabilities Total</label>
        <input type="number" name="current_liabilities" class="form-control" id="CurrentLiabilities" placeholder="$100,000" step="any" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="CashAndCashEquivalent" class="form-label">Cash and Cash Equivalent Total</label>
        <input type="number" name="cash_and_cash_equivalent" class="form-control" id="CashAndCashEquivalent" placeholder="$100,000" step="any" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="Inventories" class="form-label">Inventories Total</label>
        <input type="number" name="inventories" class="form-control" id="Inventories" placeholder="$100,000" step="any" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-sm-4">
        <label for="OperatingCashFlow" class="form-label">Operating Cash Flow Total</label>
        <input type="number" name="operating_cash_flow" class="form-control" id="OperatingCashFlow" placeholder="$100,000" step="any" required>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary my-3">Calculate</button>
        </div>
    </div>  
</form>

{% endblock %}