{% extends "layout.html" %}

{% block title %} Enter Components {% endblock title %}

{% block body %}
<form>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <label for="GrossProfit" class="form-label">Gross Profit</label>
        <input type="number" name="gross_profit" class="form-control" id="GrossProfit" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <label for="NetSales" class="form-label">Net Sales</label>
        <input type="number" name="net_sales"  class="form-control" id="NetSales" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <label for="OperatingIncome" class="form-label">Operating Income</label>
        <input type="number" name="operating_income" class="form-control" id="OperatingIncome" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <label for="NetIncome" class="form-label">Net Income</label>
        <input type="number" name="net_income" class="form-control" id="NetIncome" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <label for="CurrentAssets" class="form-label">Current Assets Total</label>
        <input type="number" class="form-control" id="CurrentAssets" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <label for="TotalAssets" class="form-label">Total Assets</label>
        <input type="number" name="total_assets" class="form-control" id="TotalAssets" placeholder="$100,000" required>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
          <label for="ShareholdersEquity" class="form-label">Total Shareholders' Equity</label>
          <input type="number" name="shareholders_equity" class="form-control" id="ShareholdersEquity" placeholder="$100,000" required>
        </div>
      </div>
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary my-3">Calculate</button>
        </div>
    </div>
      
</form>

{% endblock %}